@font-face {
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?2h4ajg');
	src:url('../fonts/feathericons/feathericons.eot?#iefix2h4ajg') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?2h4ajg') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?2h4ajg') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?2h4ajg#feathericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, 
body,
.js .container,
.js .dragslider,
.js .img-dragger .handle {
	height: 100%;
}

html.js,
.js body {
	overflow: hidden;
	position: relative;
}

.card {
	margin-bottom: 50px;
}

.btn-card{
	display: flex;
	gap: 10px;
}

.img-card {
	border-radius: 40px !important;
}

.js .dragslider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.dragslider.show-content {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.dragslider h2 {
    font-family: 'Cinzel', serif;
	font-size: 7em;
	font-weight: 400;
	margin: 0 auto;
	line-height: 1;
	position: relative;
}

.no-js .dragslider h2 {
	padding: 15px;
}

.dragslider h2 span {
	display: block;
	font-size: 34%;
    font-family: 'lato', serif;
	font-weight: 200;
	padding-top: 0.2em;
	margin-left: 5px;
}

/* Switch button */
button.slider-switch {
	font-size: 0;
	width: 80px;
	height: 80px;
	padding: 0;
	color: transparent;
	position: relative;
	border: none;
	background: url(../img/icons/zoom-1.svg) no-repeat center center;
	background-size: 90%;
	float: right;
	outline: none;
	overflow: hidden;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: auto;
}

.no-js button.slider-switch {
	display: none;
}

button.slider-switch.view-maxi {
	background-image: url(../img/icons/zoom-2.svg)
}

button.slider-switch:hover {
	opacity: 1;
}

/* Dragger */
.img-dragger {
	position: relative;
	z-index: 100;
}

.js .img-dragger {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.js .img-dragger-large {
	width: 100%;
	height: 100%;
}

.js .img-dragger .handle {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	font-size: 0;
}

.no-js .img-dragger,
.no-js .img-dragger .handle {
	height: auto;
	position: relative;
	text-align: center;
	font-size: 0;
	clear: both;
	white-space: nowrap;
	overflow: auto;
}

.no-js .img-dragger .handle {
	padding: 40px 0 0;
}

/*background*/
.img-dragger .slide {
	display: inline-block;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	position: relative;
	height: 100%;
	font-size: 14px;
	white-space: normal;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
}

.no-js .img-dragger .slide {
	width: 300px;
	font-size: 7px;
	min-height: 200px;
}

.img-dragger .slide:active {
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-wrap img {
	position: absolute;
	display: block;
	height: calc(100% + 0.2px);
	opacity: 0.5;
}

@media screen and (min-aspect-ratio: 1280/850) {
    .img-dragger .img-wrap  img {
        width: calc(100% + 0.2px);
        height: auto;
    }
}

.js .slide h2 {
	color: #fff;
	position: absolute;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .img-dragger-large .slide h2 {
	width: 70%;
	left: 15%;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.img-dragger-small .slide h2 {
	font-size: 2em;
	padding-top: 1em;
	top: 100%;
	width: 100%;
	text-align: center;
	color: #34495e;
	-webkit-animation: slideUpFade 0.4s 0.1s;
}



@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

.img-dragger-small .slide h2 span {
	font-size: 0.35em;
}

.img-dragger-small .slide.current h2 {
	color: #fff;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;
}

.slide h2 i {
	font-style: normal;
	font-weight: 400;
}

button.content-switch {
    margin-top: -9px;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 160px;
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
    background: #1d1d1d8c;
    color: #fff;
    font-family: 'Lato', sans-serif;
    position: absolute;
    cursor: pointer;
    top: 99%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-200%,0);
    transform: translate3d(-50%,-200%,0);
    padding: 1em 2em;
    font-size: 0.85em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    z-index: 1000;
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
    transition: transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
    animation: pulse 2s infinite;
}

/* Animación de parpadeo/pulso */
@keyframes pulse {
    0% {
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    }
    100% {
        opacity: 0.7;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    }
}


.no-js button.content-switch {
	display: none;
}

button.content-switch:hover {
	opacity: 1;
}

button.content-switch::before {
	content: '\e097';
	font-family: 'feathericons';
	/* speak: none; */
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	text-indent: 0;
	font-size: 1.5em;
	line-height: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.show-content .current button.content-switch {
	border-color: #c5d3d6;
	color: #c5d3d6;
	-webkit-transform: translate3d(-50%,100%,0);
	transform: translate3d(-50%,100%,0);
}

.show-content .current button.content-switch::before {
	content: '\e096';
}

/* Content */
.js .pages {
	position: absolute;
	top: 100%;
	height: 0;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.js .show-content .pages {
	-webkit-transition: none;
	transition: none;
	height: 100%;
}

.graphic-design {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.pages .content {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background: #2c3135;
	margin-top: 80px;
	text-align: left;
	color: #b8b8b8;
	font-size: 1.4em;
	line-height: 1;
	font-weight: 400;
}

.js .pages .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.pages .content.show {
	height: auto;
	-webkit-transition: none;
	transition: none;
}

.pages .content h2 {
	font-family: 'Cinzel', serif;
	font-size: 4em;
	color: #63abf3;
	margin-left: 50px;
}

.no-js .pages .content h2 {
	padding-top: 1em;
}

.pages .content h2 span {
	color: #d59a3c;
	font-weight: 400;
}

.pages .content p {
	max-width: 1100px;
	margin: 0 auto;
	margin-left: 50px;
	line-height: 1.5;
	text-align: left;
    font-family: 'Cinzel', serif;
	color: #CCC;
}

.pages .content p:last-child {
	/* padding: 5em 1em 8em; */
	text-align: center;
	font-weight: bold;
}

.js .pages .content h2,
.js .pages .content p {
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
	transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.pages .content.show h2,
.pages .content.show p {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pages .content.show p {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.pages .content a {
	color: #d59a3c;
	display: block;
}

.pages .content a:hover {
	color: #545b61;
}

/* Switch */
.switch-min .img-dragger-large .slide > *:not(.img-wrap),
.switch-max .img-dragger-small .slide > *:not(.img-wrap)  { /* fade out everything except image */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.switch-min .img-dragger-large,
.switch-max .img-dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.img-dragger-small button.content-switch {
	opacity: 0;
	pointer-events: none;
}

/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

/* Gallery */

img {
	width: 100%;
	margin-bottom: 14px;
  }
  
  .masonry {
	  column-count: 3;
	  column-gap: 16px;
	  margin-left: 42px;
  }
  
  .masonry .mItem {
	display: inline-block;
	margin-bottom: 6px;
	width: 100%;
  }
  
  @media (max-width: 1199px) {
	.masonry {
	  column-count: 3;
	}
  }
  
  @media (max-width: 991px) {
	.masonry {
	  column-count: 2;
	}
  }
  
  @media (max-width: 767px) {
	.masonry {
	  column-count: 1;
	}

	.dragslider h2 {
	
		margin-left: 46px !important;
	}

	.js .pages .content {
		left: -20px;
	}

	.pages .content h2 {
		font-size: 3em;
	}

	.column2 {
		margin-left: -94px;
   		margin-top: -80px;
	}

	h2 {
		margin-top: -10px;
		margin-left: 0px !important;
		font-size: 60px !important;
	}
  }

  /* Lightbox Styles - Versión Full Size */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    display: none;
    overflow: auto;
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#lightbox-image {
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.lightbox-caption {
    color: white;
    margin: 15px auto;
    font-size: 1.2em;
    text-align: center;
    max-width: 80%;
}

.lightbox-close {
    position: fixed;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10000;
}

.lightbox-close:hover {
    color: #bbb;
}

.lightbox-nav {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    transform: translateY(-50%);
    z-index: 10000;
}

.lightbox-prev, .lightbox-next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
}

.lightbox-prev:hover, .lightbox-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Efecto al hacer clic en imágenes de galería */
.gallery-image {
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.02);
}

/* Para pantallas pequeñas, ajustamos el tamaño máximo */
@media (max-width: 768px) {
    #lightbox-image {
        max-width: 100%;
        max-height: 80vh;
        width: auto;
        height: auto;
    }
}

/* Header styles */
.codrops-header {
    justify-content: flex-start ;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
	display: flex !important;
    opacity: 1 !important;
}

/* Navigation buttons */
.nav-btn {
    height: 100px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 20px;
	margin-top: -20px;
    outline: none;
    opacity: 0.8;
    transition: all 0.3s;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
	opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    display: none !important;
}

.nav-btn.hidden {
    opacity: 0;
    pointer-events: none; 
}

.nav-btn:hover {
    opacity: 1;
}

.img-arrow {
    height: 100px;
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

#header {
    pointer-events: none;
}

#header > * {
    pointer-events: auto;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .nav-btn {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}

